body {
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    background-color: #eee;
}
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .chocolate {
    background: #c8a172;
    border: 6px solid #a47741;
  }
  
  .vanilla {
    background: #fff5e0;
    border: 6px solid #e6d2aa;
  }
  
  .strawberry {
    background: transparent;
    border: 6px solid transparent;
  }
  
  .scoop {
    width: 125px;
    height: 80px;
    position: relative;
    border-radius: 100px 100px 20px 20px;
    border-bottom-color: transparent;
    left: -13px;
  }
  
  .flex-direction-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .scoop-detail {
    width: 35px;
    height: 22px;
    border-radius: 50%;
    border-top-color: transparent;
    position: relative;
  }

  .scoop-detail.chocolate {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  }
  
  .d1{
    left: -23px;
    transform: rotate(36deg);
    z-index: 2;
    border-radius: 50%;
  }
  
  .d2 {
    left: -34px;
    transform: rotate(10deg);
    z-index: 3;
  }
  
  .d3 {
    left: -44px;
    transform: rotate(358deg);
    z-index: 4;
  }
  
  .d4 {
    left: -54px;
    transform: rotate(324deg);
    z-index: 2;
  }
  
  .scoop.vanilla {
    top: 34px;
    z-index: 1;
  }
  
  .scoop.strawberry {
    top: 40px;
    z-index: 2;
  }

  .scoop.chocolate {
    top: 4px;
  }
  
  .scoop-detail.chocolate.d1 {
    top: -168px;
  }
  
  .scoop-detail.chocolate.d2 {
    top: -158px;
  }
  
  .scoop-detail.chocolate.d3 {
    top: -158px;
  }
  
  .scoop-detail.chocolate.d4 {
    top: -168px;
  }
  
  .scoop-detail.vanilla.d1 {
    top: -268px;
  }
  
  .scoop-detail.vanilla.d2 {
    top: -258px;
  }
  
  .scoop-detail.vanilla.d3 {
    top: -258px;
  }
  
  .scoop-detail.vanilla.d4 {
    top: -268px;
  }
  
  .scoop-detail.strawberry.d1 {
    top: -388px;
  }
  
  .scoop-detail.strawberry.d2 {
    top: -378px;
  }
  
  .scoop-detail.strawberry.d3 {
    top: -378px;
  }
  
  .scoop-detail.strawberry.d4 {
    top: -388px;
  }
  
  .cone {
    width: 0;
    height: 4px;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    border-top: 150px solid #ffd685;
    z-index: -10;
  }
  
  .cone-detail {
    border-top: 6px solid #dbb467;
    position: relative;
  }
  
  .cone-outline-left {
    width: 140px;
    transform: rotate(70deg);
    top: -180px;
    left: -41px;
  }
  
  .cone-outline-right {
    width: 140px;
    transform: rotate(290deg);
    top: -180px;
    left: -127px;
  }
  
  .cone-outline-bottom {
    width: 12px;
    height: 12px;
    background: #dbb467;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: -124px;
    z-index: -2;
  }

  .test {
    border: 1px solid red;
  }
  
  .cone-line {
    border-top: 5px solid #ffe2a6;
    position: relative;
    z-index: -1;
  }
  
  .line1 {
    top: -240px;
    left: 16px;
    width: 80px;
  }
  
  .line2 {
    top: -220px;
    left: 22px;
    width: 65px;
  }
  
  .line3 {
    top: -200px;
    left: 30px;
    width: 50px;
  }
  
  .line4 {
    top: -180px;
    left: 40px;
    width: 31px;
  }
  
  .line5 {
    top: -160px;
    left: 50px;
    width: 12px;
  }
  
  .line6 {
    width: 130px;
    top: -237px;
    left: -30px;
    transform: rotate(80deg);
  }
  
  .line7 {
    width: 135px;
    top: -226px;
    left: -142px;
    transform: rotate(90deg);
  }
  
  .line8 {
    width: 130px;
    top: -237px;
    left: -253px;
    transform: rotate(280deg);
  }

  .logo-text {
    --drop-shadow-value: 0.015em;
    font-family: "Overpass", serif;
    position: absolute;
    top: 260px;
    left: 55px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
    -webkit-text-fill-color: black;
    /* border: 1px solid red; */
  }

  .logo-top-text {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* -webkit-text-stroke: 2px white; */
    margin-bottom: -10px;
  }

  logo-top-text:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .logo-bottom-text {
    font-weight: 700;
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* -webkit-text-stroke: 1.25px white; */
  }

/* .logo-text span {
    filter: 
        drop-shadow(var(--drop-shadow-value) var(--drop-shadow-value) white)
        drop-shadow(var(--drop-shadow-value) var(--drop-shadow-value) white)
        drop-shadow(var(--drop-shadow-value) var(--drop-shadow-value) white)
        drop-shadow(var(--drop-shadow-value) var(--drop-shadow-value) white)
        drop-shadow(var(--drop-shadow-value) var(--drop-shadow-value) white)
        
        drop-shadow(0 calc(-1 * var(--drop-shadow-value)) white)
        drop-shadow(0 calc(-1 * var(--drop-shadow-value)) white)
        drop-shadow(0 calc(-1 * var(--drop-shadow-value)) white)
        drop-shadow(0 calc(-1 * var(--drop-shadow-value)) white)
        drop-shadow(0 calc(-1 * var(--drop-shadow-value)) white)
        
        drop-shadow(calc(-1 * var(--drop-shadow-value)) 0 white)
        drop-shadow(calc(-1 * var(--drop-shadow-value)) 0 white)
        drop-shadow(calc(-1 * var(--drop-shadow-value)) 0 white)
        drop-shadow(calc(-1 * var(--drop-shadow-value)) 0 white)
        drop-shadow(calc(-1 * var(--drop-shadow-value)) 0 white)
        
        drop-shadow(var(--drop-shadow-value) 0 white)
        drop-shadow(var(--drop-shadow-value) 0 white)
        drop-shadow(var(--drop-shadow-value) 0 white)
        drop-shadow(var(--drop-shadow-value) 0 white)
        drop-shadow(var(--drop-shadow-value) 0 white);
} */